In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [92]:
dataset=pd.read_csv('titanic_train.csv')

In [93]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [94]:
dataset['Embarked']=dataset['Embarked'].fillna(value='S')

In [95]:
def impute(cols):
    Age=cols[0]
    Pclass=cols[1]
    if pd.isnull(Age):
        if Pclass==1:
            return 37
        elif Pclass==2:
            return 29
        else:
            return 24
    else:
        return Age

In [96]:
dataset['Age']=dataset[['Age','Pclass']].apply(impute,axis=1)

In [97]:
X=dataset.iloc[:,[2,4,5,6,7,9,11]].values
X.shape

(891, 7)

In [98]:
y=dataset.iloc[:,1].values
y.shape

(891,)

In [99]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [100]:
X_label_1=LabelEncoder()
X_label_2=LabelEncoder()

In [101]:
X[:,6]=X_label_1.fit_transform(X[:,6])
X[:,1]=X_label_1.fit_transform(X[:,1])

In [102]:
one_hot=OneHotEncoder(categorical_features=[1,6])

In [103]:
X=one_hot.fit_transform(X).toarray()

In [104]:
X=X[:,[1,3,4,5,6,7]]

In [105]:
from sklearn.model_selection import train_test_split

In [172]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [173]:
#from sklearn.linear_model import LogisticRegression
#from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [174]:
#classifier=LogisticRegression(random_state=0)
#classifier=SVC(kernel='rbf',random_state=0)
classifier=RandomForestClassifier(n_estimators=10,random_state=0,criterion='entropy')

In [175]:
classifier.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [176]:
y_pred=classifier.predict(X_test)

In [177]:
from sklearn.metrics import confusion_matrix

In [178]:
cm=confusion_matrix(y_test,y_pred)

In [179]:
cm

array([[98, 12],
       [22, 47]], dtype=int64)

In [180]:
print('Accuracy is ',classifier.score(X_test,y_test))

Accuracy is  0.810055865922